@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif; 
	font-size: 11px;
	line-height: 1.5;
}

body{
	height: 100%;
	background-image: url(../resources/imagens/wallpaper1.jpg);
}

.apps{
	width: 960px;
	margin: 0 auto;
	padding-top: 150px
}

.apps img{
	padding: 10px;
	height: 236px;
	width: 236px;
	opacity: 0.85;
}

.apps table{
	width: 100%;
}

.app-row{
	height: 280px;
}

.app{
	margin-left: 29px;
	width: 256px;
	height: 256px;
}

.button{
	background-image: url(../resources/imagens/button1.png);
	background-repeat: no-repeat;
}

.button:hover, .selecionado{
	background-image: url(../resources/imagens/button2.png);
	background-size: 266px, 266px;
	width: 266px;
	height: 266px;
	-webkit-animation: botaoAnim 0.3s;
}

.button:hover img, .selecionado img{
	height: 246px;
	width: 246px;
	-webkit-animation: appAnim 0.3s;
}

.menu-superior{
	float: right;
	color: white;
}

.menu-superior div{
	float: left;
	margin: 5px;
}

.botao-fechar, .botao-fechar-selecionado{
	background-image: url(../resources/imagens/shutdown2.png);
	background-repeat: no-repeat;
	background-size: 32px, 32px;
	width: 32px;
	height: 32px;
}

.botao-fechar:hover, .botao-fechar-selecionado{
	background-image: url(../resources/imagens/shutdown1.png);
}

.botao-config, .botao-config-selecionado{
	background-image: url(../resources/imagens/config2.png);
	background-repeat: no-repeat;
	background-size: 32px, 32px;
	width: 32px;
	height: 32px;
}

.botao-config:hover, .botao-config-selecionado{
	background-image: url(../resources/imagens/config1.png);
}

@-webkit-keyframes botaoAnim {
    from {
    background-size: 256px, 256px;
	width: 256px;
	height: 256px;
	}
    to {
    background-size: 266px, 266px;
	width: 266px;
	height: 266px;
	}
}

@-webkit-keyframes appAnim {
    from {
    background-size: 256px, 256px;
	width: 236px;
	height: 236px;
	}
    to {
    background-size: 266px, 266px;
	width: 246px;
	height: 246px;
	}
}

.app-selecionada{
	width: 400px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 20px;
}

h1{
	text-align: center;
	color : #EEE;
	font-size: 50px;
	font-weight: 200;
}