<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../../css/cabecalho.css">
	<link rel="stylesheet" type="text/css" href="../../../css/aplicativos.css">
	<script type="text/javascript" src="../../../js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="../components/navegacao.js"></script>
	<script type="text/javascript" src="../components/relogio.js"></script>
	<script type="text/javascript" src="../components/popup.js"></script>
	<script type="text/javascript" src="../menu/menuSuperior.js"></script>
	<script type="text/javascript" src="../components/voltarHelper.js"></script>
	<script>
		var gui = require('nw.gui');
		var win = gui.Window.get();
		var Mustache = require("mustache");
		var appController = require("../../controller/aplicativosController");
		var voltarHelper = new VoltarHelper();
		var ControleRemoto = require("../../../controleRemoto/controleRemoto");
		var navegacao;
		
		$(document).ready(function(){
			configurarPagina();
			montarApps();
			configurarEventos();
			relogio($("#dataHora"));
			carregarMenu(configurarNavegacao);
			new ControleRemoto(controlador);
		});
		
		function controlador(comando){
			var comandos = {
				left: function(){
					navegacao.keyDown({keyCode:37});
				},
				up: function(){
					navegacao.keyDown({keyCode:38});
				},
				right: function(){
					navegacao.keyDown({keyCode:39});
				},
				down: function(){
					navegacao.keyDown({keyCode:40});
				},
				enter: function(){
					navegacao.keyDown({keyCode:13});
				},
				back: function(){
					navegacao.keyUp({keyCode:8});
				}
			}
			if(Object.keys(comandos).indexOf(comando)!= -1){
				comandos[comando]();
			}else{
				console.log(comando);
			}
		}
		
		function configurarNavegacao(){
			navegacao = Navegacao(document, {
				primeiroElemento : $('#app-1')
			});
			navegacao.adicionarNavegacao(".menu")
				.adicionarNavegacao(".app");
		}
		
		function configurarEventos(){
			$(".app").on("ganhouSelecao", function(e, tecla){
				$(this).addClass("selecionado");
				$("#titulo-app-"+$(this).attr("id").split("-")[1]).css("visibility","visible");
				if(!$(this).hasClass("visivel")){
					if(tecla == "direita"){
						$(this).addClass("visivel");
						var id = "#app-" + (parseInt($(this).attr("id").split("-")[1]) - 4);
						$( "table" ).animate({ "left": "-=256px" }, 1000, function(){
							$(id).removeClass("visivel");
						});
					}else if(tecla == "esquerda"){
						$(this).addClass("visivel");
						var id =  "#app-" + (parseInt($(this).attr("id").split("-")[1]) + 4);
						$( "table" ).animate({ "left": "+=256px" }, 1000, function(){
							$(id).removeClass("visivel");
						});
					}
				}
			});
			$(".app").on("perdeuSelecao", function(e){
				$(this).removeClass("selecionado");
				$("#titulo-app-" + $(this).attr("id").split("-")[1]).css("visibility","hidden");
			});
			
			$(document).on("voltar", voltarHelper.voltar);
			
			win.on('close', function() {
	  			this.hide();
	  			this.close(true);
			});
		};
		
		function configurarPagina(){
			var config = appController.obterConfiguracoes();
			$("body").css("background-image","url(file:///" + config.background + ")");
			$("body").css("background-size","100% 100%");
		}
		
		function montarApps(){
			var template = $("#template").html();
			var view = appController.listarAplicativos();
			Mustache.parse(template);
			var rendered = Mustache.render(template, view);
			$("#target").html(rendered);
			$(".app").each(function(index){
				if(index < 4){
					$(this).addClass("visivel");
				}
			});
			if(view.apps.length > 4){
				$(".apps table")
					.css("position","relative")
					.css("width", ((view.apps.length) * 256) + "px");
			}
		}
		
		function fechar(){
			win.close();
		}
	</script>
	
	<script id="template" type="x-tmpl-mustache">
		<table>
			<thead>
			<tr>
				{{#apps}}
					<td><div id="titulo-app-{{index}}" style="visibility: hidden;"><h1>{{nome}}</h1></div></td>
				{{/apps}}
			</tr>
			</thead>
			<tbody>
			<tr>
				{{#apps}}
					<td>
						<div class="app button" id="app-{{index}}" onclick="appController.executarAplicativo('{{local}}');" title="{{nome}}">
							<img src="{{imagem}}">
						</div>
					</td>
				{{/apps}}
			</tr>
			<tbody>
		</table>
	</script>
</head>
<body>
	<div class="menu-superior" id="menuSuperior"></div>
	<div style="clear:both;"></div>
	<div class="apps" id="target"></div>
	<div class="rodape">
		<div id="dataHora"></div>
	</div>
</body>
</html>