<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../css/cabecalho.css">
	<link rel="stylesheet" type="text/css" href="../../../css/aplicativos.css">
	<script type="text/javascript" src="../../../js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="../components/navegacao.js"></script>
	<script type="text/javascript" src="../../data/dao/configuracoesDAO.js"></script>
	<script type="text/javascript" src="../../data/dao/aplicativosDAO.js"></script>
	<script type="text/javascript" src="../../controller/aplicativosController.js"></script>
	<script>
		var gui = require('nw.gui');
		var win = gui.Window.get();
		var Mustache = require("mustache");
		var controller = AplicativosController();
		
		$(document).ready(function(){
			configurarPagina();
			montarApps();
			configurarNavegacao();
			configurarEventos();
		});
		
		function configurarNavegacao(){
			var navegacao = Navegacao(document, {
				primeiroElemento : $('#app-1')
			});
			navegacao
				.adicionarNavegacao(".menu")
				.adicionarNavegacao(".app");
		}
		
		function configurarEventos(){
			$(".app").on("ganhouSelecao", function(e, tecla){
				$(this).addClass("selecionado");
				$("#titulo-app-"+$(this).attr("id").split("-")[1]).css("visibility","visible");
				if(!$(this).hasClass("visivel")){
					if(tecla == "direita"){
						$(this).addClass("visivel");
						var id = "#app-" + (parseInt($(this).attr("id").split("-")[1]) - 4);
						$( "table" ).animate({ "left": "-=256px" }, 1000, function(){
							$(id).removeClass("visivel");
						});
					}else if(tecla == "esquerda"){
						$(this).addClass("visivel");
						var id =  "#app-" + (parseInt($(this).attr("id").split("-")[1]) + 4);
						$( "table" ).animate({ "left": "+=256px" }, 1000, function(){
							$(id).removeClass("visivel");
						});
					}
				}
			});
			$(".menu").on("ganhouSelecao", function(e){
				$(this).attr("class", $(this).attr("class") + "-selecionado");
			});
			$(".app").on("perdeuSelecao", function(e){
				$(this).removeClass("selecionado");
				$("#titulo-app-" + $(this).attr("id").split("-")[1]).css("visibility","hidden");
			});
			$(".menu").on("perdeuSelecao", function(e){
				$(this).attr("class", $(this).attr("class").replace("-selecionado",""));
			});
			win.on('close', function() {
	  			this.hide();
	  			this.close(true);
			});
		};
		
		function configurarPagina(){
			var config = controller.obterConfiguracoes();
			$("body").css("background-image","url(file:///" + config.background + ")");
			$("body").css("background-size","100% 100%");
		}
		
		function montarApps(){
			var template = $("#template").html();
			var view = controller.listarAplicativos();
			Mustache.parse(template);
			var rendered = Mustache.render(template, view);
			$("#target").html(rendered);
			$(".app").each(function(index){
				if(index < 4){
					$(this).addClass("visivel");
				}
			});
			if(view.apps.length > 4){
				$(".apps table")
					.css("position","relative")
					.css("width", ((view.apps.length) * 256) + "px");
			}
		}
		
		function abrirConfiguracoes(){
			win.close();
			gui.Window.open('../configuracoes/configuracoes.html', {
				  fullscreen: false,
				  toolbar: true
			});
		}
		
		function fechar(){
			win.close();
		}
	</script>
	
	<script id="template" type="x-tmpl-mustache">
		<table>
			<thead>
			<tr>
				{{#apps}}
					<td><div id="titulo-app-{{index}}" style="visibility: hidden;"><h1>{{nome}}</h1></div></td>
				{{/apps}}
			</tr>
			</thead>
			<tbody>
			<tr>
				{{#apps}}
					<td>
						<div class="app button" id="app-{{index}}" onclick="controller.executarAplicativo('{{local}}');" title="{{nome}}">
							<img src="{{imagem}}">
						</div>
					</td>
				{{/apps}}
			</tr>
			<tbody>
		</table>
	</script>
</head>
<body>
	<div class="menu-superior">
			<div class="menu botao-config" id="menu-1" onclick="abrirConfiguracoes();"></div>
			<div class="menu botao-fechar" id="menu-2" onclick="fechar();"></div>
	</div>
	<div style="clear:both;"></div>
	<div class="apps" id="target"></div>
</body>
</html>