<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../../css/cabecalho.css">
	<link rel="stylesheet" type="text/css" href="../../../css/aplicativos.css">
	<script type="text/javascript" src="../../../js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="../components/navegacao.js"></script>
	<script type="text/javascript" src="../components/relogio.js"></script>
	<script type="text/javascript" src="../components/popup.js"></script>
	<script type="text/javascript" src="../menu/menuSuperior.js"></script>
	<script type="text/javascript" src="../components/voltarHelper.js"></script>
	<script>
		var gui = require('nw.gui');
		var win = gui.Window.get();
		var Mustache = require("mustache");
		var appController = require("../../controller/aplicativosController");
		var voltarHelper = new VoltarHelper();
		var navegacao;
		
		$(document).ready(function(){
			configurarPagina();
			montarApps(function(){
				configurarEventos();
				relogio($("#dataHora"));
				carregarMenu(configurarNavegacao);
			});
		});
		
		function configurarNavegacao(){
			navegacao = Navegacao(document, {
				primeiroElemento : $('#app-1')
			});
			navegacao.adicionarNavegacao(".menu")
				.adicionarNavegacao(".app");
		}
		
		function configurarEventos(){
			$(".app").on("ganhouSelecao", function(e, tecla){
				$(this).addClass("selecionado");
				$("#titulo-app-"+$(this).attr("id").split("-")[1]).css("visibility","visible");
				if(!$(this).hasClass("visivel")){
					if(tecla == "direita"){
						$(this).addClass("visivel");
						var id = "#app-" + (parseInt($(this).attr("id").split("-")[1]) - 4);
						$( "table" ).animate({ "left": "-=256px" }, 1000, function(){
							$(id).removeClass("visivel");
						});
					}else if(tecla == "esquerda"){
						$(this).addClass("visivel");
						var id =  "#app-" + (parseInt($(this).attr("id").split("-")[1]) + 4);
						$( "table" ).animate({ "left": "+=256px" }, 1000, function(){
							$(id).removeClass("visivel");
						});
					}
				}
			});
			$(".app").on("perdeuSelecao", function(e){
				$(this).removeClass("selecionado");
				$("#titulo-app-" + $(this).attr("id").split("-")[1]).css("visibility","hidden");
			});
			
			$(document).on("voltar", voltarHelper.voltar);
			
			win.on('close', function() {
	  			this.hide();
	  			this.close(true);
			});
		};
		
		function configurarPagina(){
			var config = appController.obterConfiguracoes();
			$("body").css("background-image","url(file:///" + config.background + ")");
			$("body").css("background-size","100% 100%");
		}
		
		function montarApps(callback){
			var success = function(aplicativos){
				var template = $("#template").html();
				Mustache.parse(template);
				var rendered = Mustache.render(template, aplicativos);
				$("#target").html(rendered);
				$(".app").each(function(index){
					if(index < 4){
						$(this).addClass("visivel");
					}
				});
				if(aplicativos.apps.length > 4){
					$(".apps table")
						.css("position","relative")
						.css("width", ((aplicativos.apps.length) * 256) + "px");
				}
				callback();
			}
			appController.listarAplicativos(success);
		}
		
		function fechar(){
			win.close();
		}
	</script>
	
	<script id="template" type="x-tmpl-mustache">
		<table>
			<thead>
			<tr>
				{{#apps}}
					<td><div id="titulo-app-{{index}}" style="visibility: hidden;"><h1>{{nome}}</h1></div></td>
				{{/apps}}
			</tr>
			</thead>
			<tbody>
			<tr>
				{{#apps}}
					<td>
						<div class="app button" id="app-{{index}}" onclick="appController.executarAplicativo('{{index}}');" title="{{nome}}">
							<img src="http://localhost:8089/images/{{imagem}}">
						</div>
					</td>
				{{/apps}}
			</tr>
			<tbody>
		</table>
	</script>
</head>
<body>
	<div class="menu-superior" id="menuSuperior"></div>
	<div style="clear:both;"></div>
	<div class="apps" id="target"></div>
	<div class="rodape">
		<div id="dataHora"></div>
	</div>
</body>
</html>